<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />

    <title>Training</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'axionaut_app/css/style.css' %}" />

    <script language="javascript"> //script touches
        document.addEventListener("keyup", event => {
            if ((event.isComposing || event.key === "ArrowLeft") && !event.repeat ) //left
            {
                document.getElementById('dir_neutral').click()
            }
            if ((event.isComposing || event.key === "ArrowRight") && !event.repeat) //right
            {
                document.getElementById('dir_neutral').click()
            }
            if ((event.isComposing ||event.key === "ArrowUp") && !event.repeat)  //up
            {
                document.getElementById('gas_neutral').click()
            }
            if ((event.isComposing || event.key === "ArrowDown") && !event.repeat) //down
            {
                document.getElementById('gas_neutral').click()
            }
            if (event.isComposing || event.code === "Escape") 
            {
                document.getElementById('menu').click()
            }
            if (event.isComposing || event.key === " ") //space
            {
                document.getElementById('start_stop_button').click()
            }
        });

        document.addEventListener("keydown", event => {
            if ((event.isComposing || event.key === "ArrowLeft") && !event.repeat ) //left
            {
                document.getElementById('left').click()
            }
            if ((event.isComposing ||event.key === "ArrowRight") && !event.repeat) //right
            {
                document.getElementById('right').click()
            }
            if ((event.isComposing || event.key === "ArrowUp") && !event.repeat)  //up
            {
                document.getElementById('up').click()
            }
            if ((event.isComposing ||  event.key === "ArrowDown") && !event.repeat) //down
            {
                document.getElementById('down').click()
            }
        });


    </script>
</head>

<body>

    <header>
        <div id="container" >
            <button type="button_return"  class="btn btn-secondary" data-mode="down" onclick="location.href='{% url 'menu' %}'">Back</button>
            <h2 id="title">TRAINING</h2>
            <img class="logo" src="{% static 'axionaut_app\images\logo-home-axionable.png' %}" />

        </div>
    </header>

<br>
    <div class="text-center">
        <div>
            <div role="group" aria-label="First group">
                <button id="start_stop_button"  onclick="location.href='{% url 'start_stop' %}'">Start</button> 
            </div>

            <script >
                    var mycar = '{{car|escapejs}}' //getting context but in this js script
                    var jsonCar = JSON.parse(mycar); //converting because mycar is encoded

                    if(jsonCar.started==true){
                        document.getElementById('start_stop_button').style.background = "red";
                        document.getElementById('start_stop_button').innerHTML = "Stop";

                    }
                    else{
                        document.getElementById('start_stop_button').style.background = "#00FF33";
                        document.getElementById('start_stop_button').innerHTML = "Start";
                    }                    
            </script> 
        </div>
    </div>
<br/>
    </div>
        <div id="control">
           <!-- Stream/Picture -->
            <div class = "container_column">
                <img id="stream" src="{% url 'axionaut_app:video_training' %}">
                <button id='record'>Record</button>
                <div class="checkbox-example">
                    <input type="checkbox" value="1" id="checkboxOneInput"/>
                    <label for="checkboxOneInput"></label>
                </div>
            <div>
        </div>    
    </div>
            

            <div class="text-right"> 
                <h1>Commandes</h1>
                <div class="form-group-commandes col-md-12">
                    <button id='up' type="submit" class="btn btn-outline-primary" data-mode="up"
                    onclick="location.href='{% url 'axionaut_app:gas_forward' %}'">⬆</button>
                     <div role="group" aria-label="First group">
                
                        <button id='left' type="submit" class="btn btn-outline-primary" data-mode="left"
                       onclick="location.href='{% url 'axionaut_app:dir_left' %}'">⬅</button>
                        <button id='gas_neutral' type="submit" class="btn btn-outline-primary" data-mode="down"
                          onclick="location.href='{% url 'axionaut_app:gas_neutral' %}'"></button>
                        <button id='dir_neutral' type="submit" class="btn btn-outline-primary" data-mode="down"
                    onclick="location.href='{% url 'axionaut_app:dir_neutral' %}'"></button>
                        <button id='right' type="submit" class="btn btn-outline-primary" data-mode="right"
                    onclick="location.href='{% url 'axionaut_app:dir_right' %}'">➡</button>
                    </div>
            <div>
                <button id='down' type="submit" class="btn btn-outline-primary" data-mode="down"
                onclick="location.href='{% url 'axionaut_app:gas_backward' %}'">⬇</button>
            </div>
            <div class="text-right"> 
                            <br/>
                            <p>Folder to save in :   </p>
                                <form method = "GET"> 
                                    <div id='form'> 
                                        {{ car.folderForm }} 
                                        <input type = "submit" value = "Submit"> </div>
                                </form> 
            </div>
            </div>

        <br />
        </div>
    </div>
</br>
<!-- Dashboard -->
    <div>
        <div  class="boxDashboardTitle">
            <h1 style="line-height:90px; font-size: 3.2em;">
                DASHBOARD
            </h1>
            <p><img class="img-dashboard" src="{% static 'axionaut_app\images\speedometer.png' %}"/></p>
        </div>
       
        
        <div id="dashboard" >
            <div>
                <div>
                    <div class="box"> <strong > Mode  </strong> <p style="margin-left: 8%;"> {{car.mode}}</p> <br/> </div>

                    <div class="box"> <strong > Modele  </strong> <p style="margin-left: 8%;"> {{car.model}}</p> <br/> </div>

                </div>
            </div>
           
            <div >
                <div class="box"> <strong > Direction  </strong> <p style="margin-left: 8%;"> {{car.dir}}</p> <br/> </div>
                <div class="box"> <strong > Gas  </strong> <p style="margin-left: 8%;"> {{car.gas}}</p> <br/> </div>
            </div>
            <div > 
                <div class="box"> <strong > Speed  </strong> <p style="margin-left: 8%;"> {{car.speed_mode}}</p> <br/> </div>
                <div class="box"> <strong > Status  </strong> <p style="margin-left: 8%;"> {{car.status}}</p> <br/> </div>
            </div>
        </div>
    </div>
<br />

</body>

</html>