body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    /* background: url('../img/dashboard.jpg') no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-color: aqua;
}

*
{
	text-align: center;
}

table
{
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
    margin: auto;
}

td
{
    border: 3px solid black;
    padding: 8px;
}

mark
{
	background-color: red;
}

#tableau
{
	align-content: center;
}