<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Accueil</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'axionaut_app/css/style.css' %}" />

    <script language="javascript"> //script touches
        document.addEventListener("keydown", event => {
            if (event.isComposing || event.keyCode === 37) //left
            {
                document.getElementById('left').click()
            }
            if (event.isComposing || event.keyCode === 39) //right
            {
                document.getElementById('right').click()
            }
            if (event.isComposing || event.keyCode === 38) //up
            {
                document.getElementById('up').click()
            }
            if (event.isComposing || event.keyCode === 40) //down
            {
                document.getElementById('down').click()
            }
        });


    </script>
</head>

<body>
    <header>
        <div id="Textebienv">
            <h1 class="bienve"> Auto mode</h1>
        </div>
        <button type="submit" class="btn btn-outline-primary" data-mode="down" onclick="location.href='{% url 'menu' %}'">Menu Principal</button>

    </header>
    <br>
    <div id="start_stop">
        <div class="form-group col-md-12">
            <label>Démarrage</label><br />
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="submit" class="btn btn-outline-primary" data-mode="down" onclick="location.href='{% url 'start_stop' %}'">Start/Stop</button> 
            </div>
        </div>
    </div>
    <br />



    <div id="directions">
        <div class="form-group col-md-12">
            <label><strong class="modelunderline">Modèles</strong></label><br />
                <form method="post" action="traitement.php">
                     <p>
                        <label for="model">Choisissez un modèle</label><br />
                        <select name="models" id="mod">
                            <option value="empty">Aucun</option>
                            <option value="m1">Model 1</option>
                            <option value="m2">Model 2</option>
                            <option value="m3">Model 3</option>
                            <option value="m4">Model 4</option>
                        </select>
                        <input type="submit" value="Valider" />
                    </p>
                </form>
        </div>

        <br />
    </div>

    <div class="form-group" id="model-group">
          <label>Model </label>
          <br />
          <select class="form-control" id="model_select">
              <option selected>Choose model...</option>
              {% for model in models %}
              <option value='{{model}}'>{{model}}</option>
              {% endfor %}
          </select>
        </div>

    <!-- Stream/Picture -->
    <div class="col-lg-6 text-center mb-3">

        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="stream"
            viewBox="0 0 250 150" width="300" height="200" ALIGN-type=LEFT>
            <defs>
                <marker id="arrow" markerWidth="10" markerHeight="10" refX="0" refY="3" orient="auto"
                    markerUnits="strokeWidth">
                    <path d="M0,0 L0,6 L3,3 z" fill="#f00" />
                </marker>
            </defs>

            <image id="stream_image" xlink:href="/picture" x="0" y="0" height="150px" width="250px" />
            <line id="dirline" x1="125" y1="110" x2="25" y2="110" stroke="#f00" stroke-width="5"
                marker-end="url(#arrow)" visibility="hidden" />
        </svg>

        <div class="btn-group mt-1" role="group" aria-label="Basic example">
            <button id="camera" class="btn btn-info">Start camera</button>
            <button id="take-picture" type="button" class="btn btn-light">📸</button>
        </div>
    </div>
</body>

</html>