<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Menu</title>
        {% load static %}
          <link rel="stylesheet" type="text/css" href="{% static 'axionaut_app/css/style.css' %}" />
    </head>

    <body>
        <header>
            <div id="Textebienv">
                <h1 class="bienve">Menu Principal</h1>
            </div>
        </header>
        <div id="start_stop">
           <div class="form-group col-md-12">
            <label>Menu</label><br/>
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="submit" class="btn btn-outline-primary" data-mode="down" onclick="location.href='{% url 'commandes' %}'">Training</button>
                <button type="submit" class="btn btn-outline-primary" data-mode="auto" onclick="location.href='{% url 'auto' %}'">Auto</button>
                </div>
          </div>
        
        <div class="container">
            {% block content %} {% endblock %}
        </div>
    </body>
</html>