<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Auto</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'axionaut_app/css/style.css' %}" />

    <script language="javascript"> //script touches
        document.addEventListener("keyup", event => {
            if (event.isComposing || event.key === " ") //space
            {
                document.getElementById('start_stop_button').click()
            }
            if (event.isComposing || event.code === "Escape") //space
            {
                document.getElementById('menu').click()
            }
        });
    </script>

</head>

<body>

    

    <header>
        <div id=container >
            <button id="menu" type="submit"  class="btn btn-secondary" data-mode="down" onclick="location.href='{% url 'menu' %}'">Retour</button>
            <h1 id="title" class="display-1">Auto Pilot</h1>
            <img class="logo" src="{% static 'axionaut_app\images\logo-home-axionable.png' %}" />
        </div>
    </header>

    <br>
    <div class="text-center">
        <div class="form-group col-md-12">
             <div  role="group" aria-label="First group">
                <button id="start_stop_button" type="submit"  data-mode="down" onclick="location.href='{% url 'start_stop_auto' %}'">Start/Stop</button> 
            </div>
        </div>
    </div>
    <br />


    <div id="dashboard-title">
        <div id="directions">
           <!-- Stream/Picture -->
            <div id="streaming">
                <h1>Streaming</h1>
                <div id="streaming-video">
                <img src="{​​% url 'axionaut_app:video' %}​​">
                </div>
                </div>
            <div class="text-right"> 
                <div class="form-group-modeles col-md-12">
                    <h1>Modèles</h1>
                        <div>
                            <br />
                                <form method = "GET"> 
                                    {{ form }} 
                                    <input type = "submit" value = "Submit"> 
                                </form> 
                           
                        </div>
                </div>
            </div>

        <br />
        </div>
    </div>
</body>

</html>