<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Accueil</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'axionaut_app/css/style.css' %}" />

    <script language="javascript"> //script touches
        document.addEventListener("keyup", event => {
            if ((event.isComposing || event.keyCode === 37) && !event.repeat ) //left
            {
                document.getElementById('dir_neutral').click()
            }
            if ((event.isComposing || event.keyCode === 39) && !event.repeat) //right
            {
                document.getElementById('dir_neutral').click()
            }
            if ((event.isComposing || event.keyCode === 38) && !event.repeat)  //up
            {
                document.getElementById('gas_neutral').click()
            }
            if ((event.isComposing || event.keyCode === 40) && !event.repeat) //down
            {
                document.getElementById('gas_neutral').click()
            }
        });

        document.addEventListener("keydown", event => {
            if ((event.isComposing || event.keyCode === 37) && !event.repeat ) //left
            {
                document.getElementById('left').click()
            }
            if ((event.isComposing || event.keyCode === 39) && !event.repeat) //right
            {
                document.getElementById('right').click()
            }
            if ((event.isComposing || event.keyCode === 38) && !event.repeat)  //up
            {
                document.getElementById('up').click()
            }
            if ((event.isComposing || event.keyCode === 40) && !event.repeat) //down
            {
                document.getElementById('down').click()
            }
        });


    </script>
</head>

<body>
    <header>
        <div id="Textebienv">
            <h1 class="bienve"> Training mode</h1>
        </div>
        <button type="submit" class="btn btn-outline-primary" data-mode="down" onclick="location.href='{% url 'menu' %}'">Menu Principal</button>

    </header>
    <br>
    <div id="start_stop">
        <div class="form-group col-md-12">
            <label>Démarrage</label><br />
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="submit" class="btn btn-outline-primary" data-mode="down" onclick="location.href='{% url 'start_stop' %}'">Start/Stop</button> 
            </div>
        </div>
    </div>
    <br />



    <!-- Arrows on keyboard -->
    <div id="directions">
        <div class="form-group col-md-12">
            <label>Pilotage</label><br />
            <button id='up' type="submit" class="btn btn-outline-primary" data-mode="up"
                    onclick="location.href='{% url 'axionaut_app:gas_forward' %}'">⬆</button>
            <div class="btn-group mr-2" role="group" aria-label="First group">
                
                <button id='left' type="submit" class="btn btn-outline-primary" data-mode="left"
                    onclick="location.href='{% url 'axionaut_app:dir_left' %}'">⬅</button>
                <button id='gas_neutral' type="submit" class="btn btn-outline-primary" data-mode="down"
                    onclick="location.href='{% url 'axionaut_app:gas_neutral' %}'"></button>
                <button id='dir_neutral' type="submit" class="btn btn-outline-primary" data-mode="down"
                    onclick="location.href='{% url 'axionaut_app:dir_neutral' %}'"></button>
                <button id='right' type="submit" class="btn btn-outline-primary" data-mode="right"
                    onclick="location.href='{% url 'axionaut_app:dir_right' %}'">➡</button>
            </div>
            <div>
                <button id='down' type="submit" class="btn btn-outline-primary" data-mode="down"
                onclick="location.href='{% url 'axionaut_app:gas_backward' %}'">⬇</button>
            </div>
        </div>

        <br />
    </div>

    <!-- Stream/Picture -->
   <div>
    <h1>Streaming</h1>
    <img src="{% url 'axionaut_app:video' %}">
    </div>
</body>

</html>